.nav-item {
    height: 3.7rem // display: flex
}

.transition,
.logo-transition {
    transition: all .5s ease;
    opacity: 1;
}

.side-bar {
    width: 17rem;
    height: 100%;
    position: fixed;
    transition: all 0.5s ease;
    z-index: 40;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.logo-name__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    top: 70%;
    position: absolute;
    left: 80%;
    transform: translateY(-50%);
    color: white;
}

.logo-name__icon {
    font-size: 1.8rem;
    color: var(--grey-color);
}

// .side-bar.collapsed .message:hover .tooltip,
.features-item:hover .tooltip,
.category-item:hover .tooltip,
.chat-new-btn:hover .tooltip {
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    opacity: 1;
}


.side-bar.collapsed .logo-transition,
.side-bar.collapsed .transition {
    opacity: 0;
    pointer-events: none;
}

.tooltip {
    position: absolute;
    top: 0rem;
    left: 5rem;
    background-color: white;
    color: var(--background-color);
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    transition: 0s;
    opacity: 0;
    display: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    pointer-events: none !important;
    white-space: nowrap;
}

.nav-item:hover .tooltip {
    top: 50%;
    transform: translateY(-25%);
    transition: all 0.5s ease;
    opacity: 1;
}

.side-bar.collapsed {
    width: 5.5rem;
}

.side-bar.collapsed .tooltip {
    display: block;
}

@media (max-width: 640px) {
    .side-bar.collapsed {
        width: 0rem;
    }
}