$forrest: #064d47;
$green: #0d9e91;
$softblue: #cee1f2;
$transparent-green: #effaf7;
$textblack: #123233;
$border: #dae0df;
$border-radius: 8px;
$card-radius: 12px;
$header-height: 90px;
$bg-tan: #fbfcf7;
